doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title= "Twitter Data Analyzer"
        script(src='//code.jquery.com/jquery-1.7.2.min.js')
        script(src='/socket.io/socket.io.js')
        script.
            var socket = io.connect('//localhost:3000');

            socket.on('message', function(data) {
                console.log(data);
                $('#messages').append('<li>' + data.tweet + '</li>');
            });
  body
    header
      h1 My Site
    .container
      .main-content
        ul#messages
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
